<h1>Welcome to the Weather Conditions Dashboard!!!</h1>

<!-- <div class="total_stations">
  <p>
    Total count of stations: <%= @stations.total_stations %>
  </p>
</div> -->

Trip.where(:start_date => search_date.beginning_of_day..search_date.end_of_day)

