<h1>New Conditions</h1>

<form class="well" action="/conditions" method="post">
  <div class="form-group">
    <label>Date</label>
    <input class="form-control" type='date'  name='condition[date]' >
  </div>
  <div class="form-group">
    <label>Maximum Temperature (°F)</label>
    <input class="form-control" type='number' name='condition[max_temp]' >
  </div>
  <div class="form-group">
    <label>Minimum Temperature (°F)</label>
    <input class="form-control" type='number' name='condition[min_temp]' >
  </div>
  <div class="form-group">
    <label>Average Temperature (°F)</label>
    <input class="form-control" type='number' name='condition[mean_temp]' >
  </div>
  <div class="form-group">
    <label>Average Humidity (%)</label>
    <input class="form-control" type='number' name='condition[mean_humidity]' >
  </div>
  <div class="form-group">
    <label>Average Visibility (miles)</label>
    <input class="form-control" type='number'  name='condition[mean_visibility]' >
  </div>
  <div class="form-group">
    <label>Average Wind Speed (mph)</label>
    <input class="form-control" type='number' name='condition[mean_wind_speed]' >
  </div>
  <div class="form-group">
    <label>Precipitation (inches)</label>
    <input class="form-control" type='number' step=0.1  name='condition[precipitation]' >
  </div>
  <input class="btn btn-primary" type='submit' value='Submit'>
</form>
