<!-- <h1>Welcome to Bike Share!</h1>

<div class="row">
  <div class="col-md-8">

  </div>
  <div class="col-md-4">

  </div>
</div> -->

<div class="flex-container">
  <div class="header-wrapper">
    <div class="bike-header">
      <h1>Welcome to Bike Share!</h1>
    </div>
  </div>
</div>

<div class="flex-container">
  <div class="bike-home-image">
    <img src="/assets/home_bike.jpg" alt="bike" width=90%>
  </div>
  <div class="flex-container">
    <div class="content-wrapper">
      <h2>Hello there!</h2>
      <p class="bike-content">
        Bike share is a web application that explore bike-sharing ports in the Bay Area! Explore the available stations, trips, and weather condition. We dare you to make changes. We hope that some of our analytics dashboards interest you, too! Have a super great day!
      </p>
    </div>
  </div>
</div>
