<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bike Share</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link rel="icon" href="/assets/home_bike.jpg">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawMonthBreakdownRidesChart);

      function drawMonthBreakdownRidesChart() {
      var data = google.visualization.arrayToDataTable([
          ['Month', 'Rides', { role: "style" }],
          ["January", 263, "#a93226"],
          ["February", 204, "#ca6f1e"],
          ["March", 255, "#f1c40f"],
          ["April", 271, "#27ae60"],
          ["May", 293, "#1abc9c"],
          ["June", 308, "#2980b9"],
          ["July", 321, "#8e44ad"],
          ["August", 321, "#a93226"],
          ["September", 325, "#ca6f1e"],
          ["October", 348, "#f1c40f"],
          ["November", 253, "#27ae60"],
          ["December", 206, "#1abc9c"]
        ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2]);

      var options = {
        title: "Number of Rides per Month for 2014",
        width: 600,
        height: 400,
        bar: {groupWidth: "95%"},
        legend: { position: "none" },
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("month_by_month"));
      chart.draw(view, options);
    }

    </script>
    <!-- <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawAverageRidesPerWeatherChart);
      google.charts.setOnLoadCallback(drawMonthBreakdownRidesChart);

      function drawAverageRidesPerWeatherChart() {
        var data = google.visualization.arrayToDataTable([
          ['Weather Type', 'Average Rides', { role: "style" }],
          ["High Temperature 90-99°F", 8, "#a93226"],
          ["Precipitation 0.5-1.0 inches", 5, "#ca6f1e"],
          ["Visibility 4-6 miles", 9, "#f1c40f"],
          ["Wind Speed 20-23 mph", 9, "#8e44ad"]
        ]);

        var options = {
          title: 'Average Rides Based on Extreme Weather',
          pieHole: 0.4,
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('donutchart'));
        chart.draw(data, options);
      }

    </script> -->
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <!-- Brand -->
        <div class="navbar-header">
         <a class="navbar-brand" href="/">Bike Share</a>
       </div>

        <!-- Menu Items -->
        <div>
          <ul class="nav navbar-nav navbar-right">

            <!-- Bike Station Dropdown -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle stations" data-toggle="dropdown">Bike Stations <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li class="dropdown-font"><a href="/stations">All Stations</a></li>
                <li class="dropdown-font"><a href="/stations/new">Create a New Station</a></li>
                <li class="dropdown-font"><a href="/station-dashboard">Station Dashboard</a></li>
              </ul>
            </li>

            <!-- Bike Trip Dropdown -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle trips" data-toggle="dropdown">Trips <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li class="dropdown-font"><a href="/trips">All Trips</a></li>
                <li class="dropdown-font"><a href="/trips/new">Create a New Trip</a></li>
                <li class="dropdown-font"><a href="/trip-dashboard">Trip Dashboard</a></li>
              </ul>
            </li>

            <!-- Weather Condition Dropdown -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle conditions" data-toggle="dropdown">Weather Conditions <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li class="dropdown-font"><a href="/conditions">All Conditions</a></li>
                <li class="dropdown-font"><a href="/conditions/new">Create a New Condition</a></li>
                <li class="dropdown-font"><a href="/weather-dashboard">Condition Dashboard</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="/js/bootstrap.js"></script>
  </body>
</html>
